
.YK-icons {
    border: 1px solid #8891AA;
    border-radius: 50%;
    width: 20px;
    padding: 4px;
    position: absolute;
    top: 3px;
    left: 15px;
}

.YK-account-sms1 {
    padding-left: 50px;

}

.YK-account-sms1::before {
    content: "";
    border: 2px dashed #CACDD8;
    height: 40px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    position: absolute;
    left: 29px;
    top: 37px;
}

.YK-account-sms1-children1,
.YK-account-sms1-children2,
.YK-account-sms1-children3 {
    display: flex;
    gap: 10px;

}

.YK-account-sms1-children1 p {
    color: var(--text-color-text-weak, #606B85);
    text-align: right;
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'clig' off, 'liga' off;

    /* size / font-size-10 */
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 160% */
}

.YK-account-sms1-children2 p,
.YK-account-sms1-children3 p {
    color: #606B85;
    overflow: hidden;
    color: var(--text-color-text-weak, #606B85);
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'clig' off, 'liga' off;
    text-overflow: ellipsis;
    white-space: nowrap;

    /* size / font-size-20 */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 166.667% */
}

.YK-account-telephone-children1 p {
    color: var(--text-color-text-weak, #606B85);
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'clig' off, 'liga' off;
    margin-bottom: 0px;
    /* size / font-size-10 */
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 160% */
}

.YK-account-telephone-children2 p,
.YK-account-telephone-children3 p {
    color: #606B85;
    overflow: hidden;
    color: var(--text-color-text-weak, #606B85);
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'clig' off, 'liga' off;
    text-overflow: ellipsis;
    white-space: nowrap;

    /* size / font-size-20 */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 166.667% */
}
.YK-account-personal1{
    padding-left: 50px;
}
.YK-text-point1{
    color: var(--text-color-text-weak, #606B85);
    font-variant-numeric: lining-nums tabular-nums;
    font-feature-settings: 'clig' off, 'liga' off;
    margin: 0px;
    /* size / font-size-10 */
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 160% */
}
.point1{
    width: 13px;
    height: 13px;
    background-color: #8891AA;
    border-radius: 50%;
    position: absolute;
    top: 481px;
    left: 31px
}